/* styles.css */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh;
    width: 100%;
    z-index: 0;
}

/* Optional: debug if color isn’t showing */
.leaflet-interactive {
    stroke: none;         /* Removes outline just in case */
    pointer-events: auto; /* Ensures interaction still works */
}
