/* Map container */
#map {
    height: 90vh; /* Make the map take 90% of the viewport height */
    width: 100%;  /* Map width should span the full container width */
}

/* Control Panel */
#controls {
    padding: 10px;
    background: white;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    font-family: Arial, sans-serif;
}

/* Control elements (input ranges, labels, select) */
#controls label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

#controls input[type="range"] {
    width: 100%; /* Make the range inputs span the full width of the control panel */
}

#controls select {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}

/* Popup styles for the building features */
.leaflet-popup-content {
    font-size: 14px;
    line-height: 1.4;
}

/* Legend style */
.info.legend {
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
}

.info.legend i {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    display: inline-block;
}
